@model IEnumerable<Cliente>


<h1> Cliente Index </h1>

<table class="table">
    <thead>
         <tr>
            <th>
                <label>ID</label>
            </th>
            <th>
                <label>DNI</label>
            </th>
            <th>
                <label>Nombre</label>
            </th>
            <th>
                <label>Apellido</label>
            </th>
            <th>
                <label>Direccion</label>   
            </th>
            <th>
                <label>Telefono</label>
            </th>
            <th>
                <label>Email</label>
            </th>
        </tr>
    </thead>
    @foreach (var cliente in Model){
        <tr>
            <td>
                <label>@cliente.Id</label>
            </td>
            <td>
                <label>@cliente.DNI</label>
            </td>
            <td>
                <label>@cliente.Nombre</label>
            </td>
            <td>
                <label>@cliente.Apellido</label>
            </td>
            <td>
                <label>@cliente.Direccion</label>
            </td>
            <td>
                <label>@cliente.Telefono</label>
            </td>
            <td>
                <label>@cliente.Email</label>
            </td>
        </tr>
    }
</table>